<div class="signup_wrapper">
  <div class="signup_form">
    <h3>InAppTranslation</h3>
    <form autocomplete="off" id="login-form" name="login-form" method="post" ng-submit="login()">
      <div class="error-notification" style="width: 337px;" id="login-error" ng-if="error_msg.length > 1 ">
        <i class="fa fa-exclamation-triangle"></i><span>&nbsp;&nbsp;{{ error_msg }}</span>
      </div>
      <input type="email" id="username" name="username" placeholder="Email" autocomplete="off" ng-model="username" required/>
      <input type="password" placeholder="Password" id="password" name="password" type="password" autocomplete="off" ng-model="password" required/>
      <div class="remember-me">
        <input type="checkbox" id="remember" ng-model="remember"><span class="remember-me-label">Remember me</span>
        <a href="javascript:void(0)" ng-click="forgot_password()">Forgot password?</a>
      </div>
      <input type="submit" value="LOG IN"><br>
      <label>Not a member yet? <a href="#signup">Sign up</a></label>
    </form>
  </div>
</div><!--wrapper-->
