<div class="signup_wrapper">
  <div class="signup_form">
    <h3>Sign up for InAppTranslation</h3>
    <em>No credit card required</em>

    <form autocomplete="off" method="post" id="signup-form" name="signup-form" ng-submit="signup()" >
      <div class="error-notification" style="width: 337px;" id="signup-error" ng-if="error_msg.length > 1">
        <i class="fa fa-exclamation-triangle"></i><span>&nbsp;&nbsp;{{ error_msg }}</span>
      </div>
      <input type="email" placeholder="Email" id="signup-email" name="username" ng-model="user.username" required>
      <input type="text" placeholder="Company" id="signup-company" name="company" ng-model="user.company" required>

      <input type="{{ pw_input_type }}" name="password" placeholder="Password" class="showpassword" id="password" ng-model="user.password" required>
      <label class="showpasswordlabel" ng-click="tick_pw_type();"><span>Show</span></label>
      <input type="submit" value="Sign Up">
      <label>Already have an account? <a href="#login">Log in</a></label>
    </form>

    <p>By signing up you agree to the <a href="#">terms of service</a> and <a href="#">privacy policy</a></p>
  </div>
</div>
