<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="globalsign-domain-verification" content="hDDxwptU-r1zA6X8JCxLIKQKFHewH8A9elLomLhCZr" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InAppTranslation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ngModal/dist/ng-modal.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/modal.css" />
    <!-- endbuild -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64281774-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body ng-app="inAppTranlsationApp" class="signup_bg" ng-cloak>
  <div class="overlay" ng-if="loading"><img class="loading" src="images/loading-big.gif" /></div>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <aside class="sidebar" ng-if="authenticated">
      <div class="sidebar_top">
        <h1><a href="#apps">InAppTranslation</a></h1>

        <div class="pro_avatar">
          <div class="avatar">
            <img src="images/avatar.png" width="31" alt="user avatar">
          </div>
          <span>{{ username }}</span>
        </div>
      </div>

      <nav>
        <ul>
          <li id="main"><a href="#apps" ng-class="{active: current_path=='apps'}"><span class="fa fa-home"></span> Dashboard</a></li>
          <li id="analytics" ng-if="isSuper == 'Y'"><a href="#stats"><span class="fa fa-bar-chart-o"></span> Analytics</a></li>
          <li id="profile"><a href="#profile" ng-class="{active: current_path=='profile'}"><span class="fa fa-cog"></span> Settings</a></li>
        </ul>
      </nav>

      <div class="logout">
        <a href="#logout"><span class="fa fa-sign-out"></span> Logout</a>
      </div>
    </aside>
    <!-- Add your site or application content here -->
      <div ng-view=""></div>
      <div id="habla_beta_container_do_not_rely_on_div_classes_or_names" class="habla-browser-chrome habla-desktop olrk-noquirks">
        <div id="hbl_operator_state_div" class="olrk-away">
          <div id="hbl_region" class="olrk-normal">
            <div id="habla_window_state_div" ng-class="showPopup ? 'olrk-state-expanded' : 'olrk-state-compressed'">
              <div id="habla_window_div" style="margin: 0px 20px; bottom: 0px; right: 0px; display: none; position: fixed;" class="habla_window_div_base hbl_pal_main_width olrk-fixed-bottom olrk-fixed-right ">
                <div id="habla_compressed_div" ng-style="showPopup && {'display': 'none'} || {'display': 'block'}"></div><div id="habla_panel_div" class="habla_panel_border hbl_pal_main_bg hbl_pal_panel_border hbl_pal_main_font_family hbl_pal_main_font_size " style="display: block;">
                <div id="habla_both_div" style="display: block;"><div id="habla_topbar_div" class="habla_topbar_div_normal hbl_pal_title_fg hbl_pal_title_bg habla_topbar_div_compressed " ng-click="togglePopup()">
                  <a id="habla_sizebutton_a" class="habla_button habla_button_a_normal hbl_pal_header_font_size hbl_pal_main_font_family hbl_pal_button_bg hbl_pal_button_fg ">^</a>
                  <a id="habla_oplink_a" class="habla_oplink_a_normal hbl_pal_header_font_size hbl_pal_title_fg ">Need any help?</a>
                </div>
                </div>
                <div id="habla_expanded_div" ng-style="showPopup && {'display': 'block'} || {'display': 'none'}">
                  <div id="habla_middle_div">
                    <div id="habla_middle_wrapper_div">
                      <div id="habla_conversation_div"
                           class="hbl_panel habla_conversation_div hbl_pal_main_height hbl_pal_control_border hbl_pal_main_fg hbl_pal_main_bg   habla_conversation_message_on "
                           style="height: 155px; overflow: hidden; display: none;">
                        <span id="hbl_body_message">Questions? We'd love to chat!</span>
                      </div>
                      <div id="habla_offline_message_sent_div"
                           class="hbl_panel habla_offline_message_sent_div hbl_pal_main_height hbl_pal_control_border hbl_pal_main_fg "
                           ng-if="msgSent">Thanks for your message! We'll get back to you shortly.
                      </div>
                      <div id="habla_offline_message_div"
                           class="hbl_panel habla_offline_message_div hbl_pal_control_border hbl_pal_main_fg "
                           ng-if="!msgSent">
                        <div class="hbl_txt_wrapper">
                          <textarea id="habla_name_input" name="habla_name_input"
                                    class="habla_wcsend_field habla_wcsend_input_pre habla_wcsend_input_normal hbl_pal_input_pre_fg hbl_pal_main_font_family hbl_pal_input_font_size hbl_pal_control_border "
                                    placeholder="click here and type your Name"
                                    style="height: 20px; display: block;" ng-model="popup.name"></textarea>
                        </div>
                        <div class="hbl_txt_wrapper">
                          <textarea id="habla_offline_email_input" name="habla_offline_email_input"
                                    class="habla_wcsend_field habla_wcsend_input_pre habla_wcsend_input_normal hbl_pal_input_pre_fg hbl_pal_main_font_family hbl_pal_input_font_size hbl_pal_control_border "
                                    placeholder="click here and type your Email"
                                    style="height: 20px; display: block;" ng-model="popup.email"></textarea>
                        </div>
                        <div class="hbl_txt_wrapper">
                          <textarea id="habla_offline_body_input" name="habla_offline_body_input"
                                    class="habla_wcsend_field habla_wcsend_input_pre habla_wcsend_input_normal hbl_pal_input_pre_fg hbl_pal_main_font_family hbl_pal_input_font_size hbl_pal_control_border "
                                    placeholder="Your question directly goes to the team who made this service. Please help us help you!"
                                    style="height: 70px; display: block;" ng-model="popup.message"></textarea>
                        </div>
                        <span id="habla_offline_error_span" class="habla_offline_error_span" ng-if="popupInvalid">
                          You must complete all fields and specify a valid email address
                        </span>
                        <input id="habla_offline_submit_input" name="habla_offline_submit_input" type="submit"
                               class="habla_offline_submit_input hbl_pal_offline_submit_fg hbl_pal_control_border hbl_pal_offline_submit_bg "
                               value="Send" style="display: block;" ng-click="popupSubmit()">

                        <div id="habla_offline_clear_div" class="clear_style "></div>
                      </div>
                    </div>
                  </div>
              </div>
                <div id="habla_closed_div" style="display: none;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/alertifyjs/dist/js/alertify.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-filereader/src/filereader.service.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>
    <script src="bower_components/angular-upload/angular-upload.js"></script>
    <script src="bower_components/angular-webstorage/angular-webstorage.js"></script>
    <script src="bower_components/base64/base64.js"></script>
    <script src="bower_components/Bowser/bowser.js"></script>
    <script src="bower_components/DateJS/build/production/date.min.js"></script>
    <script src="bower_components/FileSaver/FileSaver.js"></script>
    <script src="bower_components/js-base64/base64.js"></script>
    <script src="bower_components/jszip/jszip.min.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
    <script src="bower_components/ngModal/dist/ng-modal.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/api.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/config/config.js"></script>
        <script src="scripts/services/config.js"></script>
        <script src="scripts/services/authorization.js"></script>
        <script src="scripts/controllers/apps.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/logout.js"></script>
        <script src="scripts/services/app.js"></script>
        <script src="scripts/controllers/appedit.js"></script>
        <script src="scripts/controllers/appview.js"></script>
        <script src="scripts/services/translation.js"></script>
        <script src="scripts/directives/focusme.js"></script>
        <script src="scripts/directives/autofocus.js"></script>
        <script src="scripts/services/word.js"></script>
        <script src="scripts/directives/resizable.js"></script>
        <script src="scripts/services/authcheck.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/stats.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/lang.js"></script>
        <script src="scripts/directives/scrollfix.js"></script>
        <script src="scripts/directives/fixedheader.js"></script>
        <!-- endbuild -->
</body>
</html>
